<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login page</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
        body,
        html {
            height: 100%;
        }
    </style>
</head>


<body>
    <div class="container-fluid  h-100 bg-dark d-flex flex-column">
        <div class="row h-25"></div>
        <div class="row align-items-center flex-grow-1">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-4"></div>
                    <div class="col-4 align-items-center">
                        <form id="loginform">
                            <p class="text-white">
                                username:admin,password:admin
                            </p>
                            <div class="form-group">

                                <label class="text-white" for="exampleInputEmail1">username</label>
                                <input type="text" class="form-control" name="username" id="username"
                                    aria-describedby="emailHelp" placeholder="Enter username">
                                <small id="emailHelp" class="form-text text-muted">We'll never share your email with
                                    anyone
                                    else.</small>
                            </div>
                            <div class="form-group">
                                <label class="text-white" for="exampleInputPassword1">Password</label>
                                <input type="password" class="form-control" name="password" id="password"
                                    placeholder="Password">
                            </div>
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                <label class="form-check-label" for="exampleCheck1">Check me out</label>
                            </div>
                            <button class="btn btn-primary" type="submit">Login</button>
                        </form>
                        note: create user baru, harus create user 2x dulu lalu yg ke3 baru bisa buat create user
                    </div>
                    note: kalau mau cek game realtime harus beda browser
                    <div class="col-4"></div>

                </div>

            </div>

        </div>
        <div class="row h-25"></div>


    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script>
        const baseUrl = "http://localhost:8000"
        const loginForm = document.getElementById('loginform')
        const username = document.getElementById('username')
        const password = document.getElementById('password')

        loginForm.onsubmit = function(e) {
            e.preventDefault()
            let payload = {
                username: username.value,
                password: password.value
            }
            console.log('aaa')
            fetch(`${baseUrl}/login`, {
                method: 'POST',
                headers: {
                    'content-type': 'application/json'
                },
                body: JSON.stringify(payload)

            }
            )
            .then(res => res.json())
            .then(res => {
                console.log(res)
                if (res.success) {
                    window.localStorage.setItem('user',JSON.stringify(res))
                    window.location.replace(`${baseUrl}/`)

                } else{
                    window.location.replace(`${baseUrl}/login`)
                }
            })
        }
    </script>
</body>

</html>